{% extends "dashboard_base.html" %}
{% block title %}Overview - Quarlets Model Registry{% endblock %}
{% block content %}
  <h1>Model Registry Overview</h1>
  {% if user %}
    <p>Welcome, {{ user.email }}!</p>
  {% endif %}
  <div class="cards">
    <a class="card" href="/ui/models">
      <h3>Registered Models</h3>
      <p>Browse and manage all models</p>
    </a>
    <a class="card" href="/ui/models/new">
      <h3>Register New Model</h3>
      <p>Add a new model with metadata</p>
    </a>
  </div>
{% endblock %}


